<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="/style.css"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>HelloWorld</display-name>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <jsp-file>/index.html</jsp-file>
        <jsp-file>/style.css</jsp-file>
        <image> ./images/portfolioback.jpg</image>
        <image> ./images/sanjayLogo.PNG</image>
        <image> ./images/sanjayLogo3.PNG</image>
        <image> ./images/user.png</image>
        <image> ./images/sanjay_BN_Resume.pdf</image>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>

